<nav class="navbar navbar-light bg-light">
	<form class="container-fluid">
		<div class="input-group">
			<span class="input-group-text" id="basic-addon1"></span>
			<input type="text" class="form-control" placeholder="Rechercher par auteur, titre d'article, " aria-label="Username" aria-describedby="basic-addon1">
			<button type="submit" class="btn btn-success">Rechercher</button>
		</div>
	</form>
</nav>
